{% extends 'form_base.html' %}

{% block contentChild %}
<h2>Register</h2>
<form action="register" method="POST">
     {% csrf_token %}
     {% for error in errors %}
     <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{error}}     
    </div>
      {% endfor %}
    <a href="login" class="pink">Registered User</a>
    <br>
    <input class="my-input" name="email" type="email" placeholder="Email" required>
    <input class="my-input" name="password" type="password" placeholder="Password" required>
    <input class="my-input" name="cpassword" type="password" placeholder="Confirm Password" required>
    <div id="Jobs">
        <br>
        <p>Select atleast one job preferences for getting notification.</p>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu11" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu1">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput"onkeyup="filterFunction()">
                {% for title in titles %}
                <button class="dropdown-item" type="button" onclick="showtitle(this)">{{title}}</button>
                {% endfor %}
            </div>
            <input type="text" id="title1" name="title1" hidden>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu12" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu12" onclick="filter(this)  ">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput"onkeyup="filterFunction()">
                {% for title in titles %}
                <button class="dropdown-item" type="button" onclick="showGenre2(this)">{{title}}</button>
                {% endfor %}
            </div>
            <input type="text" id="title2" name="title2" hidden>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu13" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu13">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput"onkeyup="filterFunction()">
                {% for title in titles %}
                <button class="dropdown-item" type="button" onclick="showGenre3(this)">{{title}}</button>
                {% endfor %}
            </div>
            <input type="text" id="title3" name="title3" hidden>
        </div>
    </div>
    
    <div id="locs">
        <br>
        <p>Selecting location preferences is optional.</p>
        <div class="dropdown my-dropdown">
                <select class="form-select btn my-btn col-12" aria-label="dropdownMenu" name="city1" style="background-color: white; color:black">
                    {% for location in loc %}
                    <option value = "{{location}}" >{{location}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="dropdown my-dropdown">
            <select class="form-select btn my-btn col-12" aria-label="dropdownMenu" name="city2" style="background-color: white; color:black">
                {% for location in loc %}
                <option value = "{{location}}" >{{location}}</option>
                {% endfor %}
            </select>
    </div>
        <div class="dropdown my-dropdown">
            <select class="form-select btn my-btn col-12" aria-label="dropdownMenu" name="city3" style="background-color: white; color:black">
                {% for location in loc %}
                <option value = "{{location}}" >{{location}}</option>
                {% endfor %}
            </select>
    </div>
    </div>
    <button type="submit" class="btn my-btn" style="width: 80%;">Register</button>   
</form>
{% endblock %}
