{% extends 'form_base.html' %}

{% block contentChild %}
<h2>Register</h2>
<form action="verify_register">
    <a href="login" class="pink">Registered User</a>
    <br>
    <input class="my-input" type="text" placeholder="Email">
    <input class="my-input" type="password" placeholder="Password">
    <input class="my-input" type="password" placeholder="Confirm Password">
    <div id="Jobs">
        <br>
        <p>Select atleast one job preferences for getting notification.</p>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu11" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu11">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <button class="dropdown-item" type="button" onclick="showGenre1(this)">Data Analyst</button>
                <button class="dropdown-item" type="button" onclick="showGenre1(this)">Data Science</button>
                <button class="dropdown-item" type="button" onclick="showGenre1(this)">Data Hnadling</button>
            </div>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu12" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu12">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <button class="dropdown-item" type="button" onclick="showGenre2(this)">Data Analyst</button>
                <button class="dropdown-item" type="button" onclick="showGenre2(this)">Data Science</button>
                <button class="dropdown-item" type="button" onclick="showGenre2(this)">Data Hnadling</button>
            </div>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu13" data-toggle="dropdown">
                Job title here
            </button>
            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu13">
                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <button class="dropdown-item" type="button" onclick="showGenre3(this)">Data Analyst</button>
                <button class="dropdown-item" type="button" onclick="showGenre3(this)">Data Science</button>
                <button class="dropdown-item" type="button" onclick="showGenre3(this)">Data Hnadling</button>
            </div>
        </div>
    </div>
    
    <div id="Jobs">
        <br>
        <p>Selecting location preferences is optional.</p>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" data-toggle="dropdown">
                Select State
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Madhya Pradesh</a>
                <a class="dropdown-item" href="#">Uttar Pradesh</a>
            </div>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" data-toggle="dropdown">
                Select State
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Madhya Pradesh</a>
                <a class="dropdown-item" href="#">Uttar Pradesh</a>
            </div>
        </div>
        <div class="dropdown my-dropdown">
            <button type="button" class="btn search-btn dropdown-toggle" data-toggle="dropdown">
                Select State
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Madhya Pradesh</a>
                <a class="dropdown-item" href="#">Uttar Pradesh</a>
            </div>
        </div>
    </div>
    <button type="submit" class="btn my-btn" style="width: 80%;">Login</button>   
</form>
{% endblock %}
