{% extends 'base.html' %}

{% block content %}
    <div class="block">
        {% if request.session.loggedin == False %}
        <span>
            <button onclick="location.href='{% url 'login' %}'" class="btn my-btn" style="margin-bottom: 1vw;">Login</button>
        </span>
        <span style="float: right;">
            <button onclick="location.href='{% url 'register' %}'" class="btn my-btn" style="margin-bottom: 1vw;">Register</button>
        </span>
        {% else %}
        <span>
            <button onclick="location.href='{% url 'logout' %}'" class="btn my-btn" style="margin-bottom: 1vw;">Logout</button>
            <span style="float: right;">
                <button onclick="location.href='{% url 'update' %}'" class="btn my-btn" style="margin-bottom: 1vw;">Update Preferences</button>
            </span>
        </span>
        {%endif%}
       
        <form>
            <div class="form-group">
                <div class="row">
                    <div class=" col-lg-9 col-xl-9">
                        <div class="dropdown" style="margin-bottom: 1vw;">
                            <button type="button" class="btn search-btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                                Job title here
                            </button>
                            <div class="dropdown-menu" id="myDropdown"  aria-labelledby="dropdownMenu1">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                {% for title in titles %}
                                    <button class="dropdown-item" type="button" onclick="showGenre(this)">{{title}}</button>
                                {% endfor %}
                            </div>
                            <input type="text" name="role" id="role" hidden>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-1 col-xl-1">
                        <button class="btn my-btn" style="margin-bottom: 1vw; float: left;width:100%">Search</button>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
                        <div class="dropdown" style="margin-bottom: 1vw;float: right;width:100%">
                            <select class="form-select btn my-btn col-12" aria-label="dropdownMenu" name="city">
                                {% for location in loc %}
                                <option value = "{{location}}" >{{location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>            
            </div>
        </form>
    </div>
    {% for job in jobs %}
    <div class="block">
        <div class="row">
            <div class="col">
                <h3>{{job.name}}</h3>
                <h5>{{job.company}}</h5>
                <h6 style="color: #8d448b;">{{job.loc}}</h6>
            </div>
            <div class="col">
                <br>
                <h6>Experience:<span style="color: #8d448b;">{{job.exp}}</span></h6>
                <h6>Salary range:<span style="color: #8d448b;">{{job.sal}}</span></h6>
                <a href={{job.link}} target="_blank"><button class="btn my-btn">Click here to apply</button></a>
            </div>
        </div>
        <hr>
        <h6>{{job.content}} </h6>
    </div>
    {% endfor %}
{% endblock %}